@import 'fonts';

@include mq-mobile {
  html {
    font-size: $baseFontSize;
    color: $primaryWhite;
  }
  
  body {
    background-image:linear-gradient(to top right, transparentize($primaryColor, 0.2), transparentize(black, 0.2)), url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding: 25px 0 0 0;
  }

  button {
    background-color: $primaryAccent;
    border: 2px solid $secondaryColor;
    color: $primaryColor;
    padding: 1rem 2rem;
    margin: 1rem auto;
    font-size: 2rem;
    letter-spacing: 2px;
    cursor: pointer;
    &:hover,
    &:focus {
     background-color: lighten($primaryAccent, 20%);
    }
    &:active {
      background-color: darken($primaryAccent, 10%);
    }


  }

  h1, button {
    font-family: $icebergFontFamily;
  }

  p, label {
    font-size: 2rem;
    font-family: $barlowFontFamily;
  }

  button, input,  input::placeholder {
    font-size: 2rem;
  }

  .normalize-text {
    text-transform: lowercase;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
  }
}

@include mq-tablet {
  body {
    padding: 4rem 0 0 0;
  }
  button {
    font-size: 2.5rem;
    padding: 1rem 2.5rem;
  }
  
  p, label {
    font-size: 2.3rem;
  }
  
  .wrapper {
    width: 80%;
  }
}

@include mq-desktop {



}

@include mq-retina {

}