$errorMessageBackground: #FFF6F6;
$errorMessageColor: rgb(159, 58, 56);
$errorMessageBoxShadow: #AA92A0;

$primaryAccent: #d5c300;
$primaryColor: #273878;
$secondaryColor: #e5fecc;

$white: #FFFFFF;
$black: #000000;

$almostBlack: #222;
$primaryWhite: #fff;

$normal: #CCC7C0;
$fighting: #763217;
$flying: #99ACEE;
$poison: #A45CA4;
$ground: #D4B661;
$rock: #C4AD68;
$bug: #A9B41D;
$ghost: #6F73BB;
$steel: #C3C3CF;
$fire: #E74D03;
$water: #42ABFC;
$grass: #78C33A;
$electric: #FEC81E;
$psychic: #F15F90;
$ice: #B1EBFE;
$dragon: #8776E1;
$dark: #644D3D;
$fairy: #F4BBF3;
