@include mq-mobile {
  .crime-reminder {
    margin: 0;
    padding: 5px;
  }
  .crime-reminder-accent {
    color: $primaryAccent;
  }
}

@include mq-tablet {

}

@include mq-desktop {

}

@include mq-retina {

}