@include mq-mobile {
  .form-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;

    label, select {
      width: 100%;
    }

    .selects-wrapper {
      display: flex;
      flex-direction: column;
      p, label {
        font-size: 2rem;
      }

      .instructions {
        color: $primaryColor;
        padding: 10px 5px;
        border-radius: 5px;
        background: $primaryAccent;
      }
    }

    .select-wrapper {
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      &:nth-of-type(2) {
        margin: 40px 0  30px 0;
      }

      label {
        color: $primaryWhite;
      }

      select {
        border-width: thin;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px 0;
        font-size: 1.8rem;
        text-align: center;
        text-align-last: center;
      }
    }
  }

  .crime-reminder {
    margin: 0;
    padding: 5px;
  }

  .crime-reminder-accent {
    color: $primaryAccent;
  }
}

@include mq-tablet {
  .form-wrapper {
    display: block;

    select {
      max-width: none;
    }
    .selects-wrapper {
      flex-direction: row;
    }
    .select-wrapper {
      display: flex;
      flex-direction: column;
      width: 50%;

      select {
        margin-top: 25px;
        height: 44px;
        line-height: 44px;
      }

      &:first-of-type {
        margin-right: 60px;
      }

      &:nth-of-type(2) {
        margin: 20px 0 0 0;
      }
    }
  }
}

@include mq-desktop {
  .form-wrapper {

    label, select {
      max-width: 500px;
    }

    .selects-wrapper {
      margin: 60px 0;
    }

    .select-wrapper {
      margin: 0 0 20px 0;

      &:first-of-type {
        margin-right: 100px;
      }

      &:nth-of-type(2) {
        margin: 0;
      }
    }
  }
}

@include mq-retina {
  .selects-wrapper {
    margin: 100px 0;
  }
}