@include mq-mobile {
  header {
    padding: 25px 0px;
    div {
      padding-top:15px;
    }
  }
h1 {
  // animation: flicker 3s infinite alternate;
  border: 0.4rem solid #fff;
  border-radius: 3rem;
  color: #e5fecc;
  font-family: 'Iceberg', cursive;
  font-size: 3.5rem;
  padding: 2rem 1rem;
  
  letter-spacing: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
h1::-moz-selection {
  background-color: black;
  color: #e5fecc;
}
h1::selection {
  background-color: #08f;
  color: #e5fecc;
}
h1:focus {
  outline: none;
}
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem #d5c300,
            0.2rem 0.2rem 1rem #d5c300,
            0 0 2rem #08f,
            0 0 4rem #08f,
            0 0 6rem #08f,
            0 0 8rem #08f,
            0 0 10rem #08f;
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem #273878,
            inset 0 0 2rem #273878,
            0 0 4rem #08f,
            inset 0 0 4rem #273878;
    }
    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

h2 {
  font-size: 2.5rem;
  text-align:center;
}

p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  input {
    padding: 1rem 2rem;
    margin: 1rem 0px;
    &:focus{
      background-color: $secondaryColor;
    }
  }
  button {
    padding: 1rem 8.5rem;
    
  }
}

}

@include mq-tablet {
  header {
    padding: 40px 0px;
    div {
      padding-top:40px;
    }
  }

  h1 {

    font-size: 8rem;
    padding: 2rem 4rem 2.7rem;
  }

  h2 {
  font-size: 3rem;
}
  form button {
    padding: 1rem 7.7rem;
  }

}

@include mq-desktop {
  form {
    padding-top: 1rem;
  }
  h2 {
  font-size: 4rem;
  
}

}

@include mq-retina {

}