@include mq-mobile {
  body {
    padding: 25px 0px;
  }
  
  header .error {
    position: absolute;
    z-index: 2;
    bottom: 175px;
  }
  header div {
    padding-top: 15px;
  }
  
  h1 {
    animation: flicker 3s infinite alternate;
    border: 0.4rem solid $primaryWhite;
    border-radius: 3rem;
    color: $secondaryColor;
    font-family: 'Iceberg', cursive;
    font-size: 3.5rem;
    padding: 2rem 1rem;
  
    letter-spacing: 0.8rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
  h1::-moz-selection {
    background-color: $black;
    color: $secondaryColor;
  }
  h1::selection {
    background-color: $headingSelection;
    color: $secondaryColor;
  }
  h1:focus {
    outline: none;
    border: 0.4rem solid $primaryWhite;
  }
  @keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow:
        -0.2rem -0.2rem 1rem $primaryAccent,
        0.2rem 0.2rem 1rem $primaryAccent,
        0 0 2rem $headingSelection,
        0 0 4rem $headingSelection,
        0 0 6rem $headingSelection,
        0 0 8rem $headingSelection,
        0 0 10rem $headingSelection;
      box-shadow:
        0 0 .5rem $primaryWhite,
        inset 0 0 .5rem $primaryWhite,
        0 0 2rem $primaryColor,
        inset 0 0 2rem $primaryColor,
        0 0 4rem $headingSelection,
        inset 0 0 4rem $primaryColor;
    }
    20%, 24%, 55% {
      text-shadow: none;
      box-shadow: none;
    }
  }

  h2 {
    font-size: 2.5rem;
    text-align:center;
  }

  p {
    text-align: center;
  }

  header form {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      padding: 0.8rem;
      margin: 1rem 0px;
      &:focus{
        background-color: $secondaryColor;
      }
    }
  }
}

@include mq-tablet {
  body {
    padding: 4rem 0px;
  }

  header div {
    padding-top:4rem;
  }

  h1 {
    font-size: 8rem;
    padding: 2rem 4rem 2.7rem;
  }

  h2 {
    font-size: 3rem;
  }

  header form {
    input {
      width: auto;
      padding: 1rem 2rem;
    }
  }
}

@include mq-desktop {
  header form {
    padding-top: 1rem;
  }

  h2 {
  font-size: 4rem;
  }

}
