.pokemonList {
  position: relative;
  legend {
    font-size: 1.95rem;
  }
  .error {
    position: absolute;
    z-index: 2;
    bottom: 60px;
  }
}


.pokemonTypes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  &>div {
    margin: 8px 2.5px;
  }
}
.pokemonTypeSpan {
  color: #fff;
  border-radius: 50px;
  padding: 5px 10px 8px;
  border: 1px solid $primaryColor;
}

.normal {
  background-color: #CCC7C0;
  color: #222;
}
.fighting {
  background-color: #763217;
}
.flying {
  background-color: #99ACEE;
}
.poison {
  background-color: #A45CA4;
}
.ground {
  background-color: #D4B661;
}
.rock {
  background-color: #C4AD68;
}
.bug {
  background-color: #A9B41D;
}
.ghost {
  background-color: #6F73BB;
}
.steel {
  background-color: #C3C3CF;
  color: #222;
}
.fire {
  background-color: #E74D03;
}
.water {
  background-color: #42ABFC;
}
.grass {
  background-color: #78C33A;
}
.electric {
  background-color: #EDA300;
}
.psychic {
  background-color: #F15F90;
}
.ice {
  background-color: #B1EBFE;
  color: #222;
}
.dragon {
  background-color: #8776E1;
}
.dark {
  background-color: #644D3D;
}
.fairy {
  background-color: #F4BBF3;
  color: #222;
}

@keyframes pokeballSpin {
  0% {
    transform: translateX(-100px) rotate(-10deg);
  }
  100% {
    transform: translateX(100px) rotate(370deg);
  }
}
.pokemonFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width:75%;

  padding: 25px 0;
  h2 {
    font-size: 2.5rem;
  }
  p {
    margin: 0;
  }

  input {
    opacity: 0;
    position: absolute;
  }
  
  img {
    max-width: 100%;
    height: 125px;
    display: block;
  }
  .pokeballLoader {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .pokeball {
      animation: pokeballSpin 1s infinite linear alternate;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 0;
    min-height: 350px;

    position: relative;
    transform: scale(1);
    z-index: 1;
    
    color: $secondaryColor;
    background-color: $primaryColor;
    border-radius: 30px;
    
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  input:checked + label{
    transform: scale(1.1);
    z-index: 2;

    color: $primaryColor;
    background-color: lighten($primaryColor, 50);
    
    overflow: visible;
    transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  input:focus + label{
    border: $primaryAccent 2px solid;
  }

  &>div {
    width: calc(90% - 20px);
    margin:10px;
    text-align: center;
    
    &:last-of-type {
      margin: 0;
    }
  }
}

@include mq-tablet {
  .pokemonFlex {
    flex-direction: row;
    &>div {
      width: calc(100%/3 - 10px);
      margin:10px 10px 10px 0;
    }
  }
}
@include mq-desktop {
  .pokemonFlex {
    flex-direction: row;
    width: 100%;
    &>div {
      width: calc((100% - 40px) / 5);
    }
  }
}