@include mq-mobile {
  
  .header-for-result {
    color: $primaryAccent;
    margin-top: 3rem;
    text-transform: uppercase;
    font-family: $icebergFontFamily;
    font-size: 3rem;
  }
  .play-again {
    display:flex;
    align-items: center;
    justify-content: center;
  }
}

@include mq-tablet {
  .headerForResult {
    font-size: 4rem;
  }
}

@include mq-desktop {
  
  .header-for-result {
    font-size: 5rem;
  }
}