@import url("https://fonts.googleapis.com/css?family=Barlow|Iceberg&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 320px) {
  .wrapper {
    width: 90%;
  }
}

body {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(39, 56, 120, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/background.jpg");
  background-image: linear-gradient(to top right, rgba(39, 56, 120, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

@media (min-width: 320px) {
  html {
    font-size: 62.5%;
  }
  button {
    background-color: #273878;
    border: 2px solid #e5fecc;
    color: #e5fecc;
  }
  h1, button {
    font-family: "Iceberg", cursive;
  }
  p, label {
    font-size: 1.95rem;
    font-family: "Barlow", sans-serif;
  }
  .normalize-text {
    text-transform: lowercase;
  }
}

@media (min-width: 320px) {
  .error {
    background: #FFF6F6;
    padding: 5px 10px;
    -webkit-box-shadow: 0 0 0 1px #AA92A0 inset, 0 0 0 0 transparent;
            box-shadow: 0 0 0 1px #AA92A0 inset, 0 0 0 0 transparent;
    transition: opacity 500ms ease, color 500ms ease, background-color 500ms ease, box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
    border-radius: 5px;
  }
  .error p {
    text-align: center;
    min-width: 200px;
    max-width: 300px;
  }
}

header {
  padding: 1.5rem 0;
}

h1 {
  border: 0.4rem solid #fff;
  border-radius: 3rem;
  color: #e5fecc;
  font-family: 'Iceberg', cursive;
  letter-spacing: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 320px) {
  h1 {
    font-size: 3.5rem;
    padding: 2rem 1rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 8rem;
    padding: 2rem 4rem 2.7rem;
  }
}

h1::-moz-selection {
  background-color: black;
  color: #e5fecc;
}

h1::selection {
  background-color: #08f;
  color: #e5fecc;
}

h1:focus {
  outline: none;
}

@-webkit-keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: -0.2rem -0.2rem 1rem #d5c300, 0.2rem 0.2rem 1rem #d5c300, 0 0 2rem #08f, 0 0 4rem #08f, 0 0 6rem #08f, 0 0 8rem #08f, 0 0 10rem #08f;
    -webkit-box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #273878, inset 0 0 2rem #273878, 0 0 4rem #08f, inset 0 0 4rem #273878;
            box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #273878, inset 0 0 2rem #273878, 0 0 4rem #08f, inset 0 0 4rem #273878;
  }
  20%, 24%, 55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: -0.2rem -0.2rem 1rem #d5c300, 0.2rem 0.2rem 1rem #d5c300, 0 0 2rem #08f, 0 0 4rem #08f, 0 0 6rem #08f, 0 0 8rem #08f, 0 0 10rem #08f;
    -webkit-box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #273878, inset 0 0 2rem #273878, 0 0 4rem #08f, inset 0 0 4rem #273878;
            box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #273878, inset 0 0 2rem #273878, 0 0 4rem #08f, inset 0 0 4rem #273878;
  }
  20%, 24%, 55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.pokemonFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemonFlex > div {
  width: calc(100%/3 - 10px);
  margin-right: 10px;
  text-align: center;
}

.pokemonFlex > div:last-of-type {
  margin: 0;
}

.pokemonFlex > div input {
  opacity: 0;
  position: absolute;
}

.pokemonFlex > div img {
  max-width: 100%;
  max-height: 150px;
  display: block;
}

.pokemonFlex > div p {
  margin: 0;
}

.pokemonFlex > div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  min-height: 400px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
  color: #e5fecc;
  background-color: #273878;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.pokemonFlex > div input:checked + label {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
  color: #273878;
  background-color: #e5fecc;
  overflow: visible;
  -webkit-transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.pokemonFlex > div input:focus + label {
  border: #d5c300 2px solid;
}

@media (min-width: 768px) {
  .pokemonFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pokemonFlex > div {
    width: calc((100% - 40px) /5);
  }
}
