@import url("https://fonts.googleapis.com/css?family=Barlow|Iceberg&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@media (min-width: 320px) {
  html {
    font-size: 62.5%;
    color: #fff;
  }
  body {
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(39, 56, 120, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/background.jpg");
    background-image: linear-gradient(to top right, rgba(39, 56, 120, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding: 25px 0 0 0;
  }
  button {
    background-color: #d5c300;
    border: 2px solid #e5fecc;
    color: #273878;
    padding: 1rem 2rem;
    margin: 1rem auto;
    font-size: 2rem;
    letter-spacing: 2px;
    cursor: pointer;
  }
  button:hover, button:focus {
    background-color: #ffef3c;
  }
  button:active {
    background-color: #a29400;
  }
  h1, button {
    font-family: "Iceberg", cursive;
  }
  p, label {
    font-size: 2rem;
    font-family: "Barlow", sans-serif;
  }
  button, input, input::-webkit-input-placeholder {
    font-size: 2rem;
  }
  button, input, input:-ms-input-placeholder {
    font-size: 2rem;
  }
  button, input, input::-ms-input-placeholder {
    font-size: 2rem;
  }
  button, input, input::placeholder {
    font-size: 2rem;
  }
  .normalize-text {
    text-transform: lowercase;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 4rem 0 0 0;
  }
  button {
    font-size: 2.5rem;
    padding: 1rem 2.5rem;
  }
  p, label {
    font-size: 2.3rem;
  }
  .wrapper {
    width: 80%;
  }
}

@media (min-width: 320px) {
  .error {
    background: #FFF6F6;
    padding: 5px 10px;
    -webkit-box-shadow: 0 0 0 1px #AA92A0 inset, 0 0 0 0 transparent;
            box-shadow: 0 0 0 1px #AA92A0 inset, 0 0 0 0 transparent;
    transition: opacity 500ms ease, color 500ms ease, background-color 500ms ease, box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
    border-radius: 5px;
    max-width: 350px;
    margin: 0 auto 20px auto;
  }
  .error p {
    color: #9f3a38;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .error {
    padding: 10px 15px;
    max-width: 400px;
  }
}

@media (min-width: 1080px) {
  .error {
    padding: 20px 30px;
    max-width: 500px;
  }
}

@media (min-width: 320px) {
  header .error {
    position: absolute;
    z-index: 2;
    bottom: 175px;
  }
  header div {
    padding-top: 15px;
  }
  h1 {
    border: 0.4rem solid #fff;
    border-radius: 3rem;
    color: #e5fecc;
    font-family: 'Iceberg', cursive;
    font-size: 3.5rem;
    padding: 2rem 1rem;
    letter-spacing: 0.8rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
  h1::-moz-selection {
    background-color: black;
    color: #e5fecc;
  }
  h1::selection {
    background-color: #08f;
    color: #e5fecc;
  }
  h1:focus {
    outline: none;
  }
  @-webkit-keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow: -0.2rem -0.2rem 1rem #d5c300, 0.2rem 0.2rem 1rem #d5c300, 0 0 2rem #08f, 0 0 4rem #08f, 0 0 6rem #08f, 0 0 8rem #08f, 0 0 10rem #08f;
      -webkit-box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #273878, inset 0 0 2rem #273878, 0 0 4rem #08f, inset 0 0 4rem #273878;
              box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #273878, inset 0 0 2rem #273878, 0 0 4rem #08f, inset 0 0 4rem #273878;
    }
    20%, 24%, 55% {
      text-shadow: none;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }
  @keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow: -0.2rem -0.2rem 1rem #d5c300, 0.2rem 0.2rem 1rem #d5c300, 0 0 2rem #08f, 0 0 4rem #08f, 0 0 6rem #08f, 0 0 8rem #08f, 0 0 10rem #08f;
      -webkit-box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #273878, inset 0 0 2rem #273878, 0 0 4rem #08f, inset 0 0 4rem #273878;
              box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #273878, inset 0 0 2rem #273878, 0 0 4rem #08f, inset 0 0 4rem #273878;
    }
    20%, 24%, 55% {
      text-shadow: none;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
    word-break: break-word;
  }
  p {
    text-align: center;
  }
  .header-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-form input,
  .header-form button {
    width: 50%;
  }
  .header-form input {
    padding: 0.8rem;
    margin: 1rem 0px;
  }
  .header-form input:focus {
    background-color: #e5fecc;
  }
}

@media (max-width: 550px) {
  input {
    width: 100%;
  }
  button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  header div {
    padding-top: 4rem;
  }
  h1 {
    font-size: 8rem;
    padding: 2rem 4rem 2.7rem;
  }
  h2 {
    font-size: 3rem;
  }
  .header-form input input,
  .header-form input button {
    width: auto;
  }
  .header-form input input {
    padding: 1rem 2rem;
  }
  .header-form input .header-form button {
    padding: 1rem 7.7rem;
  }
}

@media (min-width: 1080px) {
  header form {
    padding-top: 1rem;
  }
  h2 {
    font-size: 4rem;
  }
}

@media (min-width: 320px) {
  .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .form-wrapper button, .form-wrapper label, .form-wrapper select {
    width: 100%;
    max-width: 350px;
  }
  .form-wrapper button {
    padding: 0;
    height: 40px;
  }
  .form-wrapper .selects-wrapper {
    max-width: 350px;
  }
  .form-wrapper .selects-wrapper p, .form-wrapper .selects-wrapper label {
    font-size: 2rem;
  }
  .form-wrapper .selects-wrapper .instructions {
    color: #273878;
    padding: 10px 5px;
    border-radius: 5px;
    background: #d5c300;
  }
  .form-wrapper .select-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
  }
  .form-wrapper .select-wrapper:nth-of-type(2) {
    margin: 40px 0  30px 0;
  }
  .form-wrapper .select-wrapper label {
    max-width: 350px;
    color: #fff;
  }
  .form-wrapper .select-wrapper select {
    border-width: thin;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 1.8rem;
    text-align: center;
  }
  .crime-reminder {
    margin: 0;
    padding: 5px;
  }
  .crime-reminder-accent {
    color: #d5c300;
  }
}

@media (min-width: 768px) {
  .form-wrapper {
    display: block;
  }
  .form-wrapper button {
    max-width: 400px;
  }
  .form-wrapper label, .form-wrapper select {
    max-width: none;
  }
  .form-wrapper .selects-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: normal;
        align-self: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: none;
  }
  .form-wrapper .select-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .form-wrapper .select-wrapper label {
    max-width: none;
    width: 100%;
  }
  .form-wrapper .select-wrapper select {
    margin-top: 25px;
    height: 44px;
    line-height: 1;
  }
  .form-wrapper .select-wrapper:first-of-type {
    margin-right: 60px;
  }
  .form-wrapper .select-wrapper:nth-of-type(2) {
    margin: 20px 0 0 0;
  }
}

@media (min-width: 1080px) {
  .form-wrapper button, .form-wrapper label, .form-wrapper select {
    max-width: 500px;
  }
  .form-wrapper button {
    height: 80px;
  }
  .form-wrapper .selects-wrapper {
    margin: 60px 0;
  }
  .form-wrapper .select-wrapper {
    margin: 0 0 20px 0;
  }
  .form-wrapper .select-wrapper:first-of-type {
    margin-right: 100px;
  }
  .form-wrapper .select-wrapper:nth-of-type(2) {
    margin: 0;
  }
}

@media (min-width: 2000px) {
  .selects-wrapper {
    margin: 100px 0;
  }
}

@media (min-width: 320px) {
  .pokemon-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pokemon-list legend {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
  }
  .pokemon-list .error {
    position: absolute;
    z-index: 2;
    bottom: 60px;
  }
  .pokemon-types {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pokemon-types > div {
    margin: 8px 2.5px;
  }
  .pokemon-type-span {
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px 8px;
    border: 1px solid #273878;
    color: #222;
  }
  .normal {
    background-color: #CCC7C0;
  }
  .fighting {
    background-color: #763217;
    color: #fff;
  }
  .flying {
    background-color: #99ACEE;
  }
  .poison {
    background-color: #A45CA4;
    color: #fff;
  }
  .ground {
    background-color: #D4B661;
  }
  .rock {
    background-color: #C4AD68;
  }
  .bug {
    background-color: #A9B41D;
  }
  .ghost {
    background-color: #6F73BB;
  }
  .steel {
    background-color: #C3C3CF;
  }
  .fire {
    background-color: #E74D03;
  }
  .water {
    background-color: #42ABFC;
  }
  .grass {
    background-color: #78C33A;
  }
  .electric {
    background-color: #FEC81E;
  }
  .psychic {
    background-color: #F15F90;
  }
  .ice {
    background-color: #B1EBFE;
  }
  .dragon {
    background-color: #8776E1;
  }
  .dark {
    background-color: #644D3D;
    color: #fff;
  }
  .fairy {
    background-color: #F4BBF3;
  }
  @-webkit-keyframes pokeball-spin {
    0% {
      -webkit-transform: translateX(-100px) rotate(-10deg);
              transform: translateX(-100px) rotate(-10deg);
    }
    100% {
      -webkit-transform: translateX(100px) rotate(370deg);
              transform: translateX(100px) rotate(370deg);
    }
  }
  @keyframes pokeball-spin {
    0% {
      -webkit-transform: translateX(-100px) rotate(-10deg);
              transform: translateX(-100px) rotate(-10deg);
    }
    100% {
      -webkit-transform: translateX(100px) rotate(370deg);
              transform: translateX(100px) rotate(370deg);
    }
  }
  .pokemon-flex {
    padding: 25px 0;
  }
  .pokemon-flex h2 {
    font-size: 2.5rem;
  }
  .pokemon-flex p {
    margin: 0;
  }
  .pokemon-flex input {
    width: 0;
    position: absolute;
    opacity: 0;
  }
  .pokemon-flex img {
    display: block;
    max-width: 100%;
    height: 125px;
  }
  .pokemon-flex .pokeball-loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 320px;
    width: 80%;
  }
  .pokemon-flex .pokeball-loader .pokeball {
    -webkit-animation: pokeball-spin 1s infinite linear alternate;
            animation: pokeball-spin 1s infinite linear alternate;
  }
  .pokemon-flex label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 350px;
    position: relative;
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 1;
    color: #e5fecc;
    background-color: #273878;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  .pokemon-flex input:checked + label {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 2;
    color: #273878;
    background-color: #b7c1e7;
    overflow: visible;
    -webkit-transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  .pokemon-flex input:focus + label {
    border: #d5c300 2px solid;
  }
  .pokemon-flex > div {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    max-width: 250px;
  }
}

@media (min-width: 500px) {
  .pokemon-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pokemon-flex > div {
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .pokemon-flex {
    width: 100%;
  }
  .pokemon-flex > div {
    width: calc(100%/3 - 20px);
  }
}

@media (min-width: 1080px) {
  .pokemon-flex > div {
    width: calc(100%/ 5 - 10px);
    margin: 5px;
  }
}

@media (min-width: 320px) {
  .header-for-result {
    color: #d5c300;
    margin-top: 3rem;
    text-transform: uppercase;
    font-family: "Iceberg", cursive;
    font-size: 3rem;
  }
  .play-again {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .headerForResult {
    font-size: 4rem;
  }
}

@media (min-width: 1080px) {
  .header-for-result {
    font-size: 5rem;
  }
}
