@media mq-mobile {
    .error {
        background: #FFF6F6;
        padding: 5px 10px;
        -webkit-box-shadow: 0 0 0 1px #AA92A0 inset, 0 0 0 0 transparent;
        box-shadow: 0 0 0 1px #AA92A0 inset, 0 0 0 0 transparent;
        transition: opacity 500ms ease, color 500ms ease, background-color 500ms ease, box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
        border-radius: 5px;
    }

    .error p {
        text-align: center;
        min-width: 200px;
        max-width: 300px;
    }
}
